.navbar {
 padding: 16px 32px;
 background-color: #050505;
 color: #0055b8;
 font-family: Arial, Helvetica, sans-serif;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);}
.navbar-container {
 display: flex;
 justify-content: space-between;
 align-items: center;}
.navbar-esquerda,.navbar-list,.navbar-acoes{
 display: flex;
 align-items: center;}
.navbar-list{
 gap: 28px;
 margin: 0 0 0 35px;
 padding: 0;
 list-style: none;
}
.navbar-logo, .navbar a {
 color: orange;
 font-size: 15px;
 font-weight: 600;
 letter-spacing:-0.2px;
 text-decoration: none;
}
.navbar-logo {
 font-size: 16px;
}
.navbar-acoes{
 gap: 24px; 
}